.backboard {
  width: 10vw;
  border-radius: 1em;
  background-color: white;
  padding: 1em;
  border: 1px solid #000;
  margin: 1em auto;
}

.inner {
  padding: 1em;
  background-color: rgb(0, 0, 0);
}

.light {
  border-radius: 50%;
  background-color: grey;
  margin-block-end: 1em;
  aspect-ratio: 1;
}
